#top{ background-color:#F0CC85 ; height:110px; margin-top:0px;}

#tophome{ height:110px; }

#logo{ width:244px; position: absolute; z-index:999; margin-left:30px; margin-top:30px; float:left;  }

#dh{
	margin-top:45px;
	float: left;
	margin-left:70px;
	color:#FFF;
	width:86px;
	line-height:50px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:30px;
	border-bottom-width: 4px;
	border-bottom-style: solid;
	border-bottom-color: #FFF;
}

#dhhome{
	margin-top:45px;
	float: left;
	margin-left:344px;
	color:#FFF;
	width:86px;
	line-height:50px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:30px;
	border-bottom-width: 4px;

	border-bottom-color: #FFF;
}

#dhhome2{
	margin-top:45px;
	float: left;
	margin-left:474px;
	color:#FFF;
	width:155px;
	line-height:50px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:30px;
	border-bottom-width: 4px;

	border-bottom-color: #FFF;
}

#dhhome3{
	margin-top:45px;
	float: left;
	margin-left:670px;
	color:#FFF;
	width:150px;
	line-height:50px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:30px;
	border-bottom-width: 4px;

	border-bottom-color: #FFF;
}

#dhhome4{
	margin-top:45px;
	float: left;
	margin-left:865px;
	color:#FFF;
	width:150px;
	line-height:50px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:30px;
	border-bottom-width: 4px;

	border-bottom-color: #FFF;
}

#dhhome5{margin-top:54px; float: left; margin-left:1052px;}

#dhhome6{margin-top:54px; float: left; margin-left:1126px;}

#dhhome7{margin-top:54px; float: left; margin-left:1200px;}

#dh1{
	margin-top:45px;
	float: left;
	margin-left:60px;
	color:#FFF;
	line-height:50px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:30px;
}

#dh2{margin-top:55px; float:left; margin-left: 50px;}

#ht{ padding:30px; margin-left:120px; margin-right:80px;} 

#nr{	width:1170px;	border-top-width: 3px;	border-top-style: solid;	border-top-color: #e9bf5c;}

#tp{ width:262px; float: left; margin-top:25px; margin-left:10px; margin-right:20px;}

#wz{
	font-family: din-condensed, sans-serif;
	font-style: normal;
	font-weight: 400;	
	font-size:14px; 
	float: left;
	margin-left:25px;
}

#left{ width:460px; float: left;  margin-top:10px; margin-right:70px;}

#right{ width:550px; float: left; margin-top:10px; margin-left:15px;}

#t1{ text-align:left; margin-bottom:28px; }

#t2{ text-align:left; margin-bottom:15px;font-family:Arial, Helvetica, sans-serif;	font-size:40px;}

#t3{ text-align:left; margin-bottom:15px;font-family:Arial, Helvetica, sans-serif;	font-size:24px; color:#646464;  line-height:40px;}

.a1,
.b2,
.c3{
	width:36px;
	height:36px;
	border-radius: 5px;
	width:36px;
	height:36px;
	border-radius: 5px;
	border: 1px solid #979797;
	text-align:center;
	line-height:36px;
	float:left;
	margin-right:20px;
	text-decoration: none;
	color: #8b8b8b;
	font-size: 20px;
}

#type_divB{ 
	width:36px; background-color:#d8d8d8;
	height:36px;
	border-radius: 5px;
	border: 2px solid #979797;  text-align:center; line-height:36px; float:left; margin-right:20px;
}

#test{
width:36px;
	height:36px;
	border-radius: 5px;
	border: 1px solid #979797; text-align:center; line-height:36px; float:left; margin-right:20px;	text-decoration: none;
	color: #8b8b8b;
}

#an{
	width:36px;
	height:36px;
	border-radius: 5px;
	border: 1px solid #979797;
	text-align:center;
	line-height:36px;
	float:left;
	margin-right:20px;
	text-decoration: none;
	color: #8b8b8b;
	font-size: 20px;
}

#an1{
	width:70px;
	height:36px;
	border-radius: 5px;
	border: 1px solid #979797;
	text-align:center;
	line-height:36px;
	float:left;
	margin-right:20px;
	text-decoration: none;
	color: #8b8b8b;
}

#ys{
	width:32px;
	height:32px;
	border-radius: 5px;
	float:left;
	margin-right:10px;
	margin-top:10px;
	background-color:#f3f3f3;
}

#ys1{
	width:32px;
	height:32px;
	border-radius: 5px;
	float:left;
	margin-right:10px;
	margin-top:10px;
	background-color:#d8d8d8;
}

#ys2{
	width:32px;
	height:32px;
	border-radius: 5px;
	float:left;
	margin-right:10px;
	margin-top:10px;
	background-color:#e7edd8;
}

#ys3{
	width:32px;
	height:32px;
	border-radius: 5px;
	float:left;
	margin-right:10px;
	margin-top:10px;
	background-color:#98cffc;
}

#ys4{
	width:32px;
	height:32px;
	border-radius: 5px;
	float:left;
	margin-right:10px;
	margin-top:10px;
	background-color:#ffeab2;
}

#intro{
	text-align:left;
	float: left;
	color:#FFF;
	line-height:70px;
	font-family:Verdana;
	font-size:40px;
	margin-top:300px;
	margin-left:620px;
}

#button{
	width:220px;
	height:70px;
	background-color:#FFF;
	color:#292929;
	font-size:30px;
	font-weight:bold;
	line-height:70px;
	border-radius:8px; 
	margin-top:600px;
	margin-left:-100px;
}

#ys5{
	width:32px;
	height:32px;
	border-radius: 5px;
	float:left;
	margin-right:10px;
	margin-top:10px;
	background-color:#fae1ca;
}











/*     shopping cart     */


#shoppingCartButton {
	width:20px;
}



table, td,th {
	border:solid;
	text-align: center;
}


.container-1{
	display: flex;
	flex-direction: row;
}



}

.box-x {
	width:100%;
	border:1px #ccc solid;
	padding:10px;
}


.box-1 {
	width:20%;
	border:1px #ccc solid;
	padding:10px;
}

.box-2 {
	width:20%;
	border:1px #ccc solid;
	padding:10px;
}

.box-3 {
	width:30%;
	border:1px #ccc solid;
	padding:10px;
}

.box-4 {
	width:20%;
	border:1px #ccc solid;
	padding:10px;
}

.box-5 {
	width:10%;
	border:1px #ccc solid;
	padding:10px;
}





#list-info {
	color:#3399cc;
}



.item-count {
	padding: 10px;
	width:100px;
	font-size:20px;
	text-align: center;

}

/**/
.add-item {
    background-color: white;
    border: 2px solid #555555;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}
.add-item:hover {
    background-color: #555555;
    color: white;
}
/**/
.subtract-item {
    background-color: white;
    border: 2px solid #555555;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}
.subtract-item:hover {
    background-color: #555555;
    color: white;
}
/**/
.delete-item {
    background-color: #d7b652;
    border: 2px solid #555555;
    padding: 15px 40px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 18px;
}
.delete-item:hover {
    background-color: #513b13;
    color: white;
}
 

#clear-cart {
    padding: 15px 40px;
    background-color: #d7b652;
    border: 2px solid #555555;
    padding: 15px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 18px;
}

#clear-cart:hover {
    background-color: #513b13;
    color: white;
}


.item-count {
	border-radius: 32px;
	font-size: 24px;
	border-style: solid;
	border-color: #b58317;
	text-align: center;
	font-family: "Comic Sans MS", cursive,sans-serif;
}

.youngisthebest01 {
	width:21%;
	display: inline-block;
	list-style: none;
	font-size:24px;
	font-family: "Lucida Sans Unicode", "Lucida Grandee",sans-serif;
}

.youngisthebest02 {
	width:10%;
	display: inline-block;
	list-style: none;
	font-family: "Lucida Sans Unicode", "Lucida Grandee",sans-serif;
	color:#b58317;
}

.youngisthebest03 {
	width:12%;
	display: inline-block;
	list-style: none;
	font-family: "Lucida Sans Unicode", "Lucida Grandee",sans-serif;
}

.youngisthebest04 {
	width:10%;
	display: inline-block;
	list-style: none;
}

.youngisthebest05 {
	width:15%;
	display: inline-block;
	list-style: none;
}

.cart-title {
	display: inline-block;
	font-family: "Lucida Sans Unicode", "Lucida Grandee",sans-serif;
	list-style: none;
	font-size:20px;
}


.young-input {
	width:12%;
	display: inline-block;
	list-style: none;
}

.youngisthebest00 {
	width:90%;
	height:30px;
	list-style: none;
}

.clear-cart {
	background-color: black;
}

.true-show {
	width:90%;
	padding: 40px 40px;
	background-color: #f4e4b4;
	justify-content: center;
	font-size:24px;
	border-radius: 45px;

}

.count-and-cost {
	width:80%;
	padding: 10px;
	border: 3px #f4e4b4 solid;
	justify-content: center;
	text-align: center;

	font-size:24px;
	border-radius: 45px;
	font-family: "Comic Sans MS", cursive,sans-serif;
	color:#b58317;

}


/*MOST IMPORTANT CONTENT*/
#show-cart {
	padding: 30px 0;
	justify-content: center;
	margin:auto;
}
/*MOST IMPORTANT CONTENT*/

#count-cart {
	font-size: 30px;
	font-family: "Comic Sans MS", cursive,sans-serif;
}

#total-cart {
	font-size:30px;
	font-family: "Comic Sans MS", cursive,sans-serif;
}

.btn-size{
    background-color: white;
    cursor: pointer;
}

.active1, .btn-size:hover {
    background-color: #fddc95;
    color: black;
    font-weight: bold;
    border:2px black solid;
}

.btn-quan{
    background-color: white;
    cursor: pointer;
}

.active2, .btn-quan:hover {
    background-color: #fddc95;
    color: black;
    font-weight: bold;
    border:2px black solid;
}

.btn-color{
    cursor: pointer;
}

.active3, .btn-color:hover {
	border:2px #6c6c6c solid;
    color: black;
    font-weight: bold;
}


.popularList{
	margin-right: 15px;
	padding: 15px;
	font-size:16px;
	font-family: "Comic Sans MS", cursive,sans-serif;
	color:#b58317;
	text-decoration: none;
	border:2px #b58317 solid;
	border-radius: 24px;
	color: #FFFFFF;
	background-color:  #f4e4b4;

}

#popularItem{
	display: inline-block;
	padding-right: 30px;
	list-style: none;
	font-size:18px;
	font-family: "Lucida Sans Unicode", "Lucida Grandee",sans-serif;
	color:#cc9933;
}
