/* overall style for html page */
*{
    border:0px; 
    margin:0px; 
    padding:0px; 
    box-sizing:border-box;
}

/* overall wrapper style (inclusive) */
#wrapper{
    width:70%;
    margin:0px auto;
    max-width: 1440px;
    min-height:600px;
}

/* background image, using repetitive image as pattern */
body{
    background-image: url("../images/background-01.png");
    background-repeat: repeat;
    font-family:verdana;
    padding:5px;
}

/* href style to remove text underline */
a{
    text-decoration: none;
}

/* header style */
header{
    height:20%;
}

/* style of bridge title part (preserved for future use) */
#bridge_title{
    text-align: center;
}

/* style typewritter content */
#show{
    height: 20%;
    width: 80%;
    margin-left: 10%;
    color:#D3E0E2;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size:23px;
}

/* style of buttons */
.bridgesButton {
    width:20%;
    margin: 2%;
    border-radius: 50%;
}

/* style of bottom (preserved for future use) */
#bottom {
    height:15%;
}


/* adjust to one-column on smaller screens*/
/* now setting 799px as the threshold of switching*/
@media screen and (max-width: 799px){
    #show{
        height: 30%;
        width: 90%;
        margin-left: 7%;
        color:#D3E0E2;
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        font-size:20px;
        margin-bottom: 0%;
    }

    .bridgesButton {
        width:60%;
        margin-right: auto;
        margin-left: auto;
        display: block;
        margin-bottom: 9%;
    }